
@import url('https://fonts.googleapis.com/css?family=Chewy');


img {
    border: 3px solid #red;
    border-radius: 7px;
    display: block;
    padding: auto;
    width: 30%;
    margin: auto;
}

h1{
  margin: 0 auto;
  background: #FFFEC2;
}

h2{
  margin: 0 auto;
  background: #CC9393;
}
div {
    background-color: #9DCC93;
    width: 100%;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

ul {
  list-style-type: none;
  width: auto;
  padding: 15px;
  margin: 10px auto;
  border-top: 2px solid #316B24;
  border-bottom: 1px solid #316B24;
  text-align: center;
}

body {
  background-color: #DEEAFF;


}



h1 {
  font-family: "Chewy", sans-serif;
  font-weight: normal;
  text-align: left;
  margin: 0;
}







a:link {
    color: #3E6D43;
}

a:visited {
    color: #593F81;
}

a:hover {
    color: #C5A77A;
}

a:active {
    color: #982F30;
}



.gifplayer-wrapper{
  display: inline-block;
  position: relative;
}

.gifplayer-preview{
  cursor: pointer;
}

.gifplayer-play-gif{
  position: absolute;
  font-family: Arial, sans serif;
  width: 55px;
  height: 55px;
  line-height: 54px;
  text-align: center;
  background: #342;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  opacity: .9;
  border: 6px solid #365;
  cursor: pointer;
  text-decoration: none;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
